<div class = container>
    <h6 class="brand text-center m-auto p-3">Helping you and your famly live a more sustainable life.</h6>

    <p id="notice"><%= notice %></p>
    <%= render 'shared/category_src' %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<br>

<%= link_to 'New Post', new_post_path %>
</div>

